.playlist-details{
    display: flex;
    border: 2px solid black;
    border-radius: 0.5rem;
}

.playlist-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40rem;
    margin: auto;
    gap: 1rem;
}

.playlist-image{
    height: 12rem;
}


#all-playlist{
    position: relative;
}

.delete-icon{
    display: flex;
    justify-content: center;
    position: absolute;
    top:0;
    background-color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    align-items: center;
}



