.product-main{
    margin-top: 0rem;
    text-align: center;
}

.modal-header{
    display: flex;
    justify-content: space-around;
}

.videolisting-main{
    position: relative;
}

.modal{
    position: absolute;
    top: 8rem;
    left: 25rem;
}


.playlist-parent{
    cursor: pointer;
}

.create-playlist{
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playlist-icon{
    font-size: 2.5rem;
}

#all-videos{
    gap:2rem;
}



