*{
  max-inline-size: 100%;
  block-size: auto;
}



  .video-detail-icon{
    gap: 1rem;
  }


  .pointer{
    cursor: pointer;
  }

  .video-description{
    margin-top: 12rem;
  }

  .video-icon-container{
    margin-top: 2rem;
    margin-left: 15rem;
  }


  .react-player iframe{
    height: 28rem;
    width: 100%;
    margin-top: 5rem;
    margin-left: 1rem;
  }